
.hDienL:hover:enabled, .hDienL:focus:enabled{
    background-color: rgb(32 158 46) !important;
}

/* .gnvcA-D:focus:enabled{
    background-color: rgba(103,58,183,0.1);
} */
/* .rect-dot_active {
    background-color: rgb(32 158 46) !important;
    box-shadow: 0 0 1px 3px rgb(238 251 242) !important;
} */
 .hHFSRh{
    
    background-color: rgb(32 158 46) !important;
    
    box-shadow: 0 0 1px 3px rgb(238 251 242) !important;
    
}
.grqFvW{
    box-shadow: 0 0 1px 3px rgb(192 191 195) !important;
}